<!DOCTYPE html>
<html>
  <head>
    <title>Letteo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- ✅ Google Fonts（Noto Sans JP + Noto Serif JP） -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
    

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen overflow-x-hidden">
    <%= render 'shared/header'%>
    <main class="flex-grow pt-20 pb-16 overflow-x-hidden">
      <p class="text-green-600 text-center"><%= notice %></p>
      <p class="text-red-600 text-center"><%= alert %></p>
      <%= yield %>
    </main>
    <%= render 'shared/footer'%>
  </body>
</html>
